<div class="stepper-container">
  <ul class="progressbar">
    <li [ngClass]="[step1Fo]">
        <svg focusable="false" aria-hidden="true" class="svg-icon svg-icon--delivery">
            <use href="assets/svg/skapa.svg#checkmark"></use>
        </svg>
      <div class="label-state">
        <p class="clear">Datos del cliente</p>
      </div>
    </li>
    <li [ngClass]="[step2Fo]">
        <svg focusable="false" aria-hidden="true" class="svg-icon svg-icon--delivery">
            <use href="assets/svg/skapa.svg#checkmark"></use>
        </svg>
      <div class="label-state">
        <p class="clear">Productos a devolver</p>
      </div>
    </li>
    <li [ngClass]="[step3Fo]">
        <svg focusable="false" aria-hidden="true" class="svg-icon svg-icon--delivery">
            <use href="assets/svg/skapa.svg#checkmark"></use>
        </svg>
      <div class="label-state">
        <p class="clear">Método de devolución</p>
      </div>
    </li>
    <li [ngClass]="[step4Fo]">
        <svg focusable="false" aria-hidden="true" class="svg-icon svg-icon--delivery">
            <use href="assets/svg/skapa.svg#checkmark"></use>
        </svg>
      <div class="label-state">
        <p class="clear">Número caso CRM</p>
      </div>
    </li>
  </ul>
</div>
