<div class="container-page" [style.min-height]="minheight">
    <div class="storybook-container" dir="ltr">
        <div class="storybook-readme-story">
            <div>
                <div>
                    <div style="padding: 20px; background: rgb(255, 255, 255);">
                        <span class="loading loading--label-center" aria-live="polite">
                            <span class="loading__ball loading__ball--large loading__ball--primary" aria-hidden="true"></span>
                            <!-- <span aria-hidden="true" class="loading__text loading__text--fade-in">Cargando orden</span> -->
                            <!-- <span class="loading__sr-only-text">Cargando orden</span> -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
