<ng-container *ngIf="true; else loadingPageTemplate">
    <ng-container *ngIf="true; else boxMessageTemplate">
        <section class="container-cancellation">
            <div class="content-home">


                <!-------------------- BLOCK TITLE ----------------------->
                <div class="block-ikea-container container-btn-head">
                    <div class="content-return">
                        <button (click)="returnReport()" aria-disabled="false" type="button" class="btn btn--small leading-icon btn--secondary">
                            <span class="btn__inner">
                                <svg focusable="false" viewBox="0 0 24 24" class="svg-icon btn__icon" aria-hidden="true">
                                    <use href="assets/svg/skapa.svg#arrow-left"></use>
                                </svg>
                                <span class="btn__label">Volver</span>
                            </span>
                        </button>
                    </div>
                    <div class="content-close">
                        <button (click)="closeReport()" type="button" class="btn btn--small btn--tertiary">
                            <span class="btn__inner">
                            <span class="btn__label">Cerrar sesión</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="container-title">
                    <div class="block-ikea-container content-title">
                        <h1>Solicitud de cancelación de Órdenes de compra</h1>
                        <p>Listado de clientes no notificados</p>
                    </div>
                </div>
                <!-------------------- /BLOCK TITLE ----------------------->

                
                <!-------------------- BLOCK FILTERS ----------------------->
                <div class="container-filters">
                    <div class="block-ikea-container content-filters">
                        <div class="block-top-filters">
                            <div class="left-top-filters">
                                <button (click)="openViewFilters()" [ngClass]="{'pill--active': ((filterData?.optionsCheck?.length ? 1:0) > 0)}" class="pill pill--small-mobile leading-icon" aria-pressed="true">
                                    <svg focusable="false" viewBox="0 0 24 24" class="svg-icon pill__icon" aria-hidden="true">
                                        <use href="assets/svg/skapa.svg#filters"></use>
                                    </svg>
                                    <span class="pill__label">Filtrar</span>
                                </button>
                            </div>
                        </div>
                        <div class="block-line-filters" [ngClass]="[true ? 'no-data' : '']"></div>
                        <div *ngIf="(filterData?.optionsCheck?.length ? 1:0) > 0" class="block-bottom-filters">
                            <div class="container-list-filters">
                                <div *ngFor="let optionCheck of filterData.optionsCheck; let ixf = index" class="content-item-filter">
                                    <button (click)="deleteFilter(optionCheck.code)" class="pill pill--small-mobile leading-icon pill--active" aria-pressed="true">
                                        <svg focusable="false" viewBox="0 0 24 24" class="svg-icon pill__icon" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.0002 13.4144L16.9499 18.3642L18.3642 16.9499L13.4144 12.0002L18.3642 7.05044L16.95 5.63623L12.0002 10.586L7.05044 5.63623L5.63623 7.05044L10.586 12.0002L5.63624 16.9499L7.05046 18.3642L12.0002 13.4144Z">
                                            </path>
                                        </svg>
                                        <span class="pill__label">{{ optionCheck.text }}</span>
                                    </button>
                                </div>
                                <div class="content-btn-clear">
                                    <button (click)="deleteAllFilter()" class="pill pill--small-mobile" aria-pressed="true">
                                        <span class="pill__label">Borrar todo</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------- /BLOCK FILTERS ----------------------->

                <ng-container *ngIf="listOrderCancel.length !== 0; else loadingPageTemplate">
                    <ng-container *ngIf="listOrderCancel.length !== 0; else boxMessageTemplate">
                        <div class="container-data-web">
                            <div class="block-ikea-container content-data-web">
                                <div class="block-table">
                                    <div class="table table--inset sticky-table">
                                        <table>
                                            <thead class="table-header--sticky">
                                                <tr>
                                                    <th>Fecha de solicitud</th>
                                                    <th>Estado de la solicitud</th>
                                                    <th>Orden de compra</th>
                                                    <th>Nombre del cliente</th>
                                                    <th>-</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-body--striped">
                                                <tr *ngFor="let orderCan of listOrderCancel">
                                                    <ng-container *ngIf="true; else emptyTemplate">
                                                        <td>{{ orderCan?.cancellationState?.cancellationRequested | date: 'dd/MM/yyyy' }}</td>
                                                        <td>{{ convertText(orderCan?.cancellationState?.status) }}</td>
                                                        <!-- <td>Solicitado</td> -->
                                                        <td>{{ orderCan?.orderId }}</td>
                                                        <td>{{ orderCan?.deliveryInformation?.clientName }}</td>
                                                        <td><a (click)="openViewDetail(orderCan)" class="link link-skapa">Ver detalle</a></td>
                                                    </ng-container>
                                                </tr>
                                                <ng-template #emptyTemplate>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </ng-template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-pagination">
                                    <div *ngIf="isLoading" class="content-loading-cancel">
                                        <div class="storybook-container" dir="ltr">
                                            <div class="storybook-readme-story">
                                                <div>
                                                    <div>
                                                        <div style="padding: 20px; background: rgb(255, 255, 255);">
                                                            <span class="loading loading--label-center" aria-live="polite">
                                                                <span class="loading__ball loading__ball--large loading__ball--primary" aria-hidden="true"></span>
                                                                <!-- <span aria-hidden="true" class="loading__text loading__text--fade-in">Cargando orden</span> -->
                                                                <!-- <span class="loading__sr-only-text">Cargando orden</span> -->
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-pagination">
                                        <button *ngIf="visibleBtnAdd" (click)="nextPagination()" type="button" class="btn btn--primary" [attr.disabled]="false ? '' : null">
                                            <span class="btn__inner">
                                                <span class="btn__label">Mostrar más</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

            </div>
        </section>

    </ng-container>
</ng-container>


<!-------------------- BLOCK MENU FILTROS ----------------------->
<app-filters #componentFilter
[openFilterOrden]="visibleFilters"
(filtersEvent)="refreshUpdateFiltersCancel($event)"
(closeViewEvent)="closeViewFilters()"
></app-filters>
<!-------------------- /BLOCK MENU FILTROS ----------------------->


<!-------------------- BLOCK DETALLE CANCEL ----------------------->
<app-detail
[orderCancel]="orderCancelDetail"
[openDetailOrden]="visibleDetail"
(closeViewEvent)="closeViewDetail()"
(saveEvent)="refreshUpdateOrderCancel($event)"
></app-detail>
<!-------------------- /BLOCK DETALLE CANCEL ----------------------->

<ng-template #loadingPageTemplate>
    <ng-container *ngIf="isLoading else boxMessageTemplate">
        <app-loading [minheight]="'200px'"></app-loading>
    </ng-container>
</ng-template>
<ng-template #boxMessageTemplate>
    <app-message
        [messageObject]="errorMessage"
    ></app-message>
</ng-template>