@import "./default-theme/constants";
@import "node_modules/@ingka/variables/style.scss";
@import "./default-theme/mixins";

.container-home-app {
  .content-home {
    padding: 0 0 0 80px;
    background-color: $colour-bg-alternative;
    min-height: 100vh;
    .block-body {
      .btn-back {
        margin-top: 26px;
        margin-left: 4%;
        position: absolute;
      }
      width: 96%;
      margin: 0 auto 0 auto;
      max-width: 1400px;
      .container-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 168px 0 20px 0;
        h1 {
          font-size: 36px;
          line-height: 1.33;
          color: $colour-text-dark;
          text-align: center;
          max-width: 738px;
          margin: 0 0 60px 0;
          user-select: none;
        }
        ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          .card-dashboard {
            padding: 0 12px 15px 12px;
            max-width: 33%;
            min-width: 340px;
            .content-card {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;
              width: 421px;
              min-height: 264px;
              max-width: 100%;
              background-color: #ffffff;
              .card-dashboard__title p {
                width: 360px;
                text-align: left;
                font-weight: 700;
                font-size: 24px;
                color: #111111;
                margin: 0 24px 14px;
              }
              .card-dashboard__description p {
                width: 360px;
                font-size: 16px;
                line-height: 162.5%;
                color: #484848;
                font-weight: 400;
                margin-bottom: 24px;
                margin-left: 24px;
              }
              .btn-go-order {
                margin-left: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.modal-sheets {
  > h3 {
    font-size: 24px;
    line-height: 1.45;
    color: $colour-text-dark;
    margin-bottom: 10px;
  }
  > p {
    font-size: 16px;
    line-height: 1.6;
    color: $colour-text-dark;
    margin-bottom: 45px;
  }
  .form-field {
    .input-field {
      .input-field__wrapper {
        .svg-icon {
          margin-inline-start: 1rem;
          color: $colour-text-lightest;
        }
      }
    }
  }
  .orderNotFound {
    margin: 40px 0px;
  }
  .orderSearch {
    padding-left: 10px;
    text-transform: uppercase;
  }
}
