@import "./default-theme/constants";
@import "node_modules/@ingka/variables/style.scss";
@import "./default-theme/mixins";

.container {
  width: 100%;
  padding: 12px 0px 0px 52px;
  .step1-fo.content {
    .step1-fo__header {
      display: flex;
      .step__indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #ffffff;
        background: #111111;
        border-radius: 100px;
        width: 35px;
        height: 35px;
        margin-right: 25px;
      }
      p {
        font-size: 24px;
        color: #111111;
        font-weight: bold;
      }
    }
    .step1-fo__name {
      width: 419px;
      margin: 42px 0px 0px 62px;
    }
    .step1-fo__type-dni {
      width: 43%;
      margin: 40px 0px 0px 62px;
      .form-field {
        .radio-button-group {
          display: flex;
          .radio.radio--subtle {
            margin-right: 45px;
          }
        }
      }
    }
    .step1-fo__dni {
      width: 21%;
      margin: -18px 0px 0px 62px;
    }
    .step1-fo__email {
      width: 419px;
      margin: 40px 0px 0px 62px;
    }
    .step1-fo__btns {
      display: flex;
      margin: 98px 117px 0 62px;
      justify-content: space-between;
      align-items: center;
      .cancel .btn__label {
        color: #e00751;
      }
    }
  }
}
