/**************** RESPONSIVE *********************/
// $xs: 576px;
// $sm: 768px;
// $md: 992px;
// $lg: 1200px;

// $mobile-landscape: 480px;
// $tablet-landscape: 1024px;

@mixin media($media) {
	@if $media == minxs {
		@media only screen  and (max-width: $xs) { @content; }
	}
	@if $media == maxxs {
		@media only screen  and (min-width: $xs+1px)
							and (max-width: $sm) { @content; }
	}
	@if $media == xs {
		@media only screen  and (max-width: $sm) { @content; }
	}
	@else if $media== xsland {
		@media only screen  and (min-width: 320px)
							and (max-width: $mobile-landscape)
							and (orientation : landscape) { @content; }
	}
	@else if $media == sm {
		@media only screen  and (min-width: $sm+1px)
							and (max-width: $md) { @content; }
	}
	@else if $media == md {
		@media only screen  and (min-width: $md+1px)
							and (max-width: $lg) { @content; }
	}
	@else if $media == mdland {
		@media only screen  and (min-device-width : $sm)
							and (max-device-width : $tablet-landscape)
							and (orientation : landscape){ @content; }
	}
	@else if $media == lg {
		@media only screen  and (min-width: $lg+1px) { @content; }
	}
	/*-------------*/
	// Non-Retina
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    // Retina Only
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}

@mixin respondto($media...) {
    @each $mediatype in $media {
        @include media($mediatype) {@content;}
    }
}

/**************** /RESPONSIVE *********************/



/* Inicio iframe responsive */
@mixin iframebase{
	position: relative;
    height: 0;
    overflow: hidden;
	>iframe{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin iframe16by9{
    padding-bottom: 56.25%;
	@include iframebase;
}
@mixin iframe4by3{
    padding-bottom: 75%;
    @include iframebase;
}
/* Fin iframe responsive */


/* Inicio ajustar texto a la caja usa tres puntos suspensivos al final y en una sola linea */
@mixin ajustacontrespuntos{
	display: block; // agregado recientemente
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Fin ajustar texto a la caja usa tres puntos suspensivos al final y en una sola linea */


/* Inicio ajustar texto a la caja usa tres puntos suspensivos al final y en varias lineas */
/* Example: @include ajustatrespuntosmultiline(17px, 1.1, 3); */
@mixin ajustatrespuntosmultiline($fontsize, $line-height, $lines){
	display: block;
	display: -webkit-box;
	height: $fontsize * $line-height * $lines;
	font-size: $fontsize;
	line-height: $line-height;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Fin ajustar texto a la caja usa tres puntos suspensivos al final y en varias lineas */


/* Inicio ajustar texto a la caja */
@mixin ajustatexto{
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
}
/* Fin ajustar texto a la caja */


/* Inicio convierte imagen a escala de grises por css y svg 
*  Para asegurar mayor compatibilidad agrgar en cualquier parte de la pagina el siguiente code:
* 	<div style="width:0;height:0;"><svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"><filter id="grayscale"><fecolormatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/></filter></svg></div>
*/
@mixin grayscale{
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */
}
/* Fin convierte imagen a escala de grises por css y svg  */



/* Inicio animacion shadow */
@mixin ani-shadow{
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-property: all;
    transition-duration: .3s;
    &:hover,
    &:focus,
    &:active{
        box-shadow: 0px 20px 10px -15px rgba(0, 0, 0, 0.7);
    }
}
/* Fin animacion shadow */



/* degradado de 2 colores */
/* Example: @include degradado2color(#1e5799,1,#7db9e8,1); */
@mixin degradado2color($color1,$opa1,$color2,$opa2){
	background: $color1;
    background: linear-gradient(to right,  rgba($color1,$opa1) 0%,rgba($color2,$opa2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}
/* Fin ajustar texto a la caja usa tres puntos suspensivos al final y en varias lineas */


/* boton degradado de 2 colores */
/* Example: @include anidegradado(#1e5799,#7db9e8,500ms); */
@mixin anidegradado($ipe-deg1,$ipe-deg2, $time){
	position: relative;
    z-index: 1;
    @include degradado2color($ipe-deg1,1,$ipe-deg2,1);
    &:hover{
        &:before {
            opacity: 1;
        }
    }
    &:before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: all $time linear;
        @include degradado2color($ipe-deg2,1,$ipe-deg1,1);
    }
}
/* fin boton degradado de 2 colores*/



/* Inicio scroll design */
/* Example: @include scroll-design(#f5f5f5,#630496,#662c91,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) */
@mixin scroll-design($backcolor,$scrollcolor,$scrollcolorhover,$bordercontent,$borderscroll){
	&::-webkit-scrollbar{
		width: 7px;
		background-color: $backcolor;
	}
	&::-webkit-scrollbar-track{
		box-shadow: inset 0 0 6px $bordercontent;
		-webkit-box-shadow: inset 0 0 6px $bordercontent;
		background-color: $backcolor;
	}
	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px $borderscroll;
		-webkit-box-shadow: inset 0 0 6px $borderscroll;
		border-radius: 4px;
		background: $scrollcolor;
		&:hover{
			background: $scrollcolorhover; 
		}
	}
}
/* Fin scroll design */


@mixin ease-default{
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
}